{% extends "user/layout.html" %}
{% block content %}
    <div class="container-fluid">
        <h1>Profil používateľa</h1>
        <div class="row" id="edit-profile-container">
            <form action="{{ url_for('admin.user_update', user_id=user_id) }}" method="post" novalidate id="edit-profile-form">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.email.label(class='form-label') }}<br>
                    {{ form.email(size=32, class='form-control' + (' is-invalid' if form.email.errors else ''), value=form.email.data) }}
                </div>
                <fieldset class="border p-3 mb-4 rounded-2">
                    <legend class="text-primary">Change password</legend>
                    <div class="mb-3">
                        {{ form.new_password.label(class='form-label') }}<br>
                        {{ form.new_password(size=32, class='form-control' + (' is-invalid' if form.new_password.errors else ''), autocomplete='new-password') }}
                        {% if form.new_password.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.new_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </fieldset>
                <div class="mb-3">
                    {{ form.role.label(class='form-label') }}<br>
                    {{ form.role(class='form-select') }}
                </div>
                <div class="mb-3">
                    {{ form.first_name.label(class='form-label') }}<br>
                    {{ form.first_name(size=32, class='form-control'  + (' is-invalid' if form.first_name.errors else ''), value=form.first_name.data) }}
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.last_name.label(class='form-label') }}<br>
                    {{ form.last_name(size=32, class='form-control' + (' is-invalid' if form.last_name.errors else ''), value=form.last_name.data) }}
                    {% if form.last_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.department.label(class='form-label') }}<br>
                    {{ form.department(size=32, class='form-control' + (' is-invalid' if form.department.errors else ''), value=form.department.data) }}
                    {% if form.department.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.department.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.occupation.label(class='form-label') }}<br>
                    {{ form.occupation(size=32, class='form-control' + (' is-invalid' if form.occupation.errors else ''), value=form.occupation.data) }}
                    {% if form.occupation.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.occupation.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.active.label(class='form-check-label') }}<br>
                    {{ form.active(class='form-check-input') }}
                </div>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="mb-3">{{ form.submit(class='btn btn-primary') }}</div>
            </form>
        </div>
    </div>
{% endblock %}