{% extends "guest/layout.html" %}
{% block content %}
<div class="container-fluid">
        <div class="row">
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                    id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasSidebarLabel">MENU</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="list-group list-group-flush w-100">
                            <a href="{{ url_for('auth.auth_login_form') }}" class="list-group-item list-group-item-action">
                                <i class="bi bi-box-arrow-in-right me-2"></i> Log in
                            </a>
                            <a href="{{ url_for('auth.auth_signup_form') }}" class="list-group-item list-group-item-action">
                                <i class="bi bi-person-plus me-2"></i> Sign up
                            </a>
                        </div>
                    </div>
                </div>
            <main class="col-12 my-4">
                <section id="hero" class="py-5 text-center">
                    <div class="container">
                        <h1 class="display-4 mb-4">E-Commerce Data Management Application</h1>
                        {#<p class="lead">Manage your online sales data with ease and efficiency.</p>#}
                        <a href="{{ url_for('auth.auth_signup_form') }}" class="btn btn-primary btn-lg mx-2">Get Started</a>
                        <a href="{{ url_for('auth.auth_login_form') }}" class="btn btn-outline-primary btn-lg mx-2">Log in</a>
                    </div>
                </section>

                <section id="features" class="py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <i class="bi bi-database display-4 text-primary"></i>
                                <h3>Integrated analytics data warehouse</h3>
                                <p>Online sales statistics in an analytical data warehouse separate from transactional e-commerce database</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <i class="bi bi-gear display-4 text-primary"></i>
                                <h3>Built-in ETL</h3>
                                <p>Automatically update the data warehouse using the built-in ETL tool</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <i class="bi bi-bar-chart display-4 text-primary"></i>
                                <h3>Visual analytics</h3>
                                <p>Tracking KPIs on the interactive dashboard, analyzing data using charts</p>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="about" class="py-5">
                    <div class="container text-center">
                        <h2>About application</h2>
                        <p>DMA is a web-based application that provides tools for managing e-commerce sales data</p>
                    </div>
                </section>
            </main>
        </div>
    </div>
{% endblock %}