<footer class="bg-light py-3">
    <div class="container text-center">
        <h5>DMA</h5>
        <p>E-Commerce Data Management Application</p>
        <div class="d-flex justify-content-center mb-2">
            <a href="https://github.com/tkdesign" target="_blank" class="btn btn-link text-decoration-none"><i
                    class="bi bi-github"></i></a>
        </div>
        <div>
            <span>&copy; 2025 — <strong>Kovalenko Petr</strong></span>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% if page == 'dashboard' %}
<script src="{{ url_for('static', filename='assets/plotly/plotly.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plotly/plotly-locale-sk.js') }}"></script>
<script>
    function loadChart(endpoint, containerId) {
        const container = document.getElementById(containerId);
        if (!container) {
            console.error(`Container with ID "${containerId}" not found.`);
            return;
        }

        fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                if (!data.hasOwnProperty('layout')) {
                    return;
                }
                //data.layout.title = '';
                data.layout.width = 400;
                data.layout.height = 300;
                Plotly.newPlot(containerId, data.data, data.layout)
                    .catch(error => console.error(`Error plotting "${containerId}":`, error));
            })
            .catch(error => console.error(`Error fetching data for "${containerId}":`, error));
    }

    function render_dashboard(filter) {
        if (!filter) {
            params = '';
        } else {
            params = '?';
            for (const key in filter) {
                params += `${key}=${filter[key]}&`;
            }
        }

        fetch('{{ url_for('dashboard.get_summary') }}' + params)
            .then(response => response.json())
            .then(data => {
                document.getElementById('carts-count').innerHTML =
                    parseInt(data.carts_count).toLocaleString('sk-SK') + `<br><div class="card-numeric-subtitle">Košíky</div>`;
                document.getElementById('orders-count').innerHTML =
                    parseInt(data.orders_count).toLocaleString('sk-SK') + `<br><div class="card-numeric-subtitle">Objednávky</div>`;
                document.getElementById('total-revenue').innerHTML =
                    Math.round(data.total_revenue).toLocaleString('sk-SK') + ` &euro;` +
                    `<br><div class="card-numeric-subtitle">Príjmy</div>`;
                document.getElementById('conversion-rate').innerHTML =
                    Math.round(data.conversion_rate).toLocaleString('sk-SK') + '%' +
                    `<br><div class="card-numeric-subtitle">Konverzia</div>`;
            })
            .catch(error => console.error('Error loading summary:', error));

        loadChart('{{ url_for('dashboard.get_period_revenue') }}' + params, 'period-revenue-chart');
        loadChart('{{ url_for('dashboard.get_orders_heatmap') }}' + params, 'orders-heatmap-chart');
        loadChart('{{ url_for('dashboard.get_gender_distribution') }}' + params, 'gender-distribution-chart');
        loadChart('{{ url_for('dashboard.get_age_distribution') }}' + params, 'age-distribution-chart');
        loadChart('{{ url_for('dashboard.get_gender_quartile_distribution') }}' + params, 'gender-quartile-distribution-chart');
        loadChart('{{ url_for('dashboard.get_order_status_heatmap') }}' + params, 'order-status-heatmap');
    }

    document.addEventListener('DOMContentLoaded', () => {
        const chartContainers = [
            'period-revenue-chart',
            'gender-distribution-chart',
            'order-status-heatmap',
            'age-distribution-chart'
        ];
        chartContainers.forEach(id => {
            const container = document.getElementById(id);
            if (container) {
                container.style.minHeight = '300px';
            }
        });

        render_dashboard(null);

        const applyMonthFilterBtn = document.getElementById('apply-month-filter');
        if (applyMonthFilterBtn) {
            applyMonthFilterBtn.addEventListener('click', (e) => {
                const monthFilter = document.getElementById('month-filter');
                if (!monthFilter) {
                    return
                }
                render_dashboard({filter_type: "month", filter_value: monthFilter.value});
            });
        }

        const applyQuarterFilterBtn = document.getElementById('apply-quarter-filter');
        if (applyQuarterFilterBtn) {
            applyQuarterFilterBtn.addEventListener('click', (e) => {
                const quarterFilter = document.getElementById('quarter-filter');
                if (!quarterFilter) {
                    return
                }
                render_dashboard({filter_type: "quarter", filter_value: quarterFilter.value});
            });
        }

        const applyYearFilterBtn = document.getElementById('apply-year-filter');
        if (applyYearFilterBtn) {
            applyYearFilterBtn.addEventListener('click', (e) => {
                const yearFilter = document.getElementById('year-filter');
                if (!yearFilter) {
                    return
                }
                render_dashboard({filter_type: "year", filter_value: yearFilter.value});
            });
        }

        const applyGenderFilterBtn = document.getElementById('apply-date-range-filter');
        if (applyGenderFilterBtn) {
            applyGenderFilterBtn.addEventListener('click', (e) => {
                const startDateFilter = document.getElementById('start-date-filter');
                const endDateFilter = document.getElementById('end-date-filter');
                if (!startDateFilter || !endDateFilter) {
                    return
                }
                render_dashboard({filter_type: "range", filter_value_start: startDateFilter.value, filter_value_end: endDateFilter.value});
            });
        }
    });
</script>
{% elif page == 'etl_control' %}
<script src="{{ url_for('static', filename='assets/luxon/luxon.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/tabulator/js/tabulator.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const table = new Tabulator("#etl-table", {
            layout: "fitColumns",
            pagination: true,
            paginationMode: "remote",
            filterMode: "remote",
            sortMode: "remote",
            paginationSize: 10,
            paginationInitialPage: 1,
            ajaxURL: "{{ url_for('admin.etl_data') }}",
            ajaxConfig: "GET",
            placeholder: "No ETL log data available",
            columns: [
                {title: "ID", field: "id", sorter: "number", width: 60, headerFilter:"input", headerFilterFunc:"="},
                {title: "Job Name", field: "job_name", sorter: "string", headerFilter:"input"},
                {title: "Started At", field: "started_at", sorter: "date", formatter: "datetime", formatterParams: {
                        inputFormat: 'iso',
                        outputFormat: "yyyy-MM-dd HH:mm:ss",
                        invalidPlaceholder: "-"
                    }
                },
                {title: "Ended At", field: "ended_at", sorter: "date", formatter: "datetime", formatterParams: {
                        inputFormat: 'iso',
                        outputFormat: "yyyy-MM-dd HH:mm:ss",
                        invalidPlaceholder: "-"
                    }
                },
                {title: "Status", field: "status", sorter: "string", formatter: function (cell) {
                        const status = cell.getValue();
                        if (status === "RUNNING") {
                            return "<span class='badge bg-primary'>" + status + "</span>";
                        } else if (status === "SUCCESS") {
                            return "<span class='badge bg-success'>" + status + "</span>";
                        } else if (status === "FAILED") {
                            return "<span class='badge bg-danger'>" + status + "</span>";
                        } else if (status === "REVOKED") {
                            return "<span class='badge bg-secondary'>" + status + "</span>";
                        }
                        return status;
                    }
                },
                {title: "Message", field: "message", sorter: "string", headerFilter:"input"},
                {title: "Tables Processed", field: "tables_processed", sorter: "number"},
                {title: "Actions", field: "actions", headerSort: false, formatter: function (cell){
                    const data = cell.getRow().getData();
                    if(data.status === "RUNNING" && data.task_id) {
                        return "<button class='btn btn-sm btn-danger stop-task-btn' data-task-id='" + data.task_id + "'>Stop</button>";
                    }
                    return "";
                }, width: 100}
            ],
            rowFormatter:function(row) {
                const data = row.getData();
                if(data.status === "RUNNING") {
                    row.getElement().style.backgroundColor = "#fff3cd";
                }
            }
        });

        setInterval(function(){
            table.setData();
        }, 10000);

        const startETLBtn = document.getElementById('start-etl-btn');
        if (startETLBtn) {
            startETLBtn.addEventListener("click", function() {
                fetch("{{ url_for('admin.run_etl_chain') }}", {
                    method:"GET",
                    headers: {"Content-Type": "application/json"}
                })
                .then(response => response.json())
                .then(data => {
                    const error = data.hasOwnProperty("error");
                    if (error) {
                        alert("Error starting ETL: " + data.error);
                        return;
                    }
                    const taskId = (data.hasOwnProperty("chain_task_id") ? data.chain_task_id : null);
                    alert("ETL process started. Task ID: " + taskId);
                    table.setData();
                })
                .catch(error => {
                    console.error("Error starting ETL:", error);
                });
            });
        }

        const endETLBtn = document.querySelectorAll('.stop-task-btn');
        if (endETLBtn) {
            endETLBtn.forEach(btn => {
                btn.addEventListener("click", function(e) {
                    if(e.target && e.target.matches("button.stop-task-btn")) {
                        const taskId = e.target.getAttribute("data-task-id");
                        fetch("{{ url_for('admin.revoke_task') }}", {
                            method:"POST",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify({task_id: taskId})
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert("Task " + taskId + " revoked.");
                            table.setData();
                        })
                        .catch(error => {
                            console.error("Error revoking task:", error);
                        });
                    }
                });
            });
        }

        const updateStatus = (elementId, data) => {
            let msg = 'Unknown', className = 'bg-secondary';

            if (data) {
                const error = data.hasOwnProperty('error');
                const status = data.hasOwnProperty('status');

                if (error) {
                    className = 'bg-danger';
                    msg = 'Failed';
                } else if (status) {
                    msg = data.status;
                    switch (msg.toLocaleLowerCase()) {
                        case 'running':
                            className = 'bg-primary';
                            break;
                        case 'ok':
                        case 'idle':
                            className = 'bg-success';
                            break;
                        case 'unavailable':
                            className = 'bg-warning';
                            break;
                        case 'failed':
                            className = 'bg-danger';
                            break;
                        default:
                            className = 'bg-secondary';
                            break;
                    }
                }
            }

            const element = document.getElementById(elementId);
            if (element) {
                element.className = 'badge';
                element.classList.add(className);
                element.textContent = element.textContent.split(':')[0] + ': ' + msg;
            }
        };

        const checkStatuses = () => {
            fetch('{{ url_for('admin.prod_db_status') }}')
                .then(response => response.json())
                .then(data => updateStatus('prod-db-status', data))
                .catch(() => updateStatus('prod-db-status', null));

            fetch('{{ url_for('admin.stage_db_status') }}')
                .then(response => response.json())
                .then(data => updateStatus('stage-db-status', data))
                .catch(() => updateStatus('stage-db-status', null));

            fetch('{{ url_for('admin.dwh_status') }}')
                .then(response => response.json())
                .then(data => updateStatus('dwh-status', data))
                .catch(() => updateStatus('dwh-status', null));

            fetch('{{ url_for('admin.redis_db_status') }}')
                .then(response => response.json())
                .then(data => updateStatus('redis-db-status', data))
                .catch(() => updateStatus('redis-db-status', null));

            fetch('{{ url_for('admin.celery_worker_status') }}')
                .then(response => response.json())
                .then(data => updateStatus('celery-worker-status', data))
                .catch(() => updateStatus('celery-worker-status', null));
        };

        checkStatuses();
        setInterval(checkStatuses, 5000);
    });
</script>
{% elif page == 'users' %}
<script src="{{ url_for('static', filename='assets/luxon/luxon.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/tabulator/js/tabulator.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const table = new Tabulator("#users-table", {
            layout:"fitColumns",
            pagination: true,
            paginationMode: "remote",
            filterMode: "remote",
            sortMode: "remote",
            paginationSize: 10,
            paginationInitialPage: 1,
            ajaxURL: "{{ url_for('admin.users_data') }}",
            ajaxConfig:"GET",
            placeholder:"No users available",
            columns: [
                {title:"ID", field:"id", sorter:"number", width:60, headerFilter:"input", headerFilterFunc:"="},
                {title:"Email", field:"email", sorter:"string", headerFilter:"input"},
                {title:"Role", field:"role", sorter:"string"},
                {title:"First Name", field:"first_name", sorter:"string", headerFilter:"input"},
                {title:"Last Name", field:"last_name", sorter:"string", headerFilter:"input"},
                {title:"Department", field:"department", sorter:"string", headerFilter:"input"},
                {title:"Occupation", field:"occupation", sorter:"string", headerFilter:"input"},
                {title:"Actions", field:"actions", headerSort: false, formatter: function(cell) {
                    const data = cell.getRow().getData();
                    const user_edit_url = "{{ url_for('admin.user_edit', user_id=0) }}".replace('0', data.id);
                    return "<a href='" + user_edit_url + "' class='btn btn-sm btn-primary'>Edit</a>";
                }, width:100}
            ]
        });
    });
</script>
{% elif page == 'reports' %}
<script src="{{ url_for('static', filename='assets/luxon/luxon.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/tabulator/js/tabulator.min.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const table = new Tabulator("#reports-table", {
            layout: "fitColumns",
            pagination: true,
            paginationMode: "remote",
            filterMode: "remote",
            sortMode: "remote",
            paginationSize: 10,
            paginationInitialPage: 1,
            ajaxURL: "{{ url_for('reports.reports_data') }}",
            ajaxConfig: "GET",
            placeholder: "No reports available",
            columns: [
                {title: "ID", field: "id", sorter: "number", width: 60, headerFilter:"input", headerFilterFunc:"="},
                {title: "Report type", field: "report_type", sorter: "string", headerFilter:"input"},
                {title: "Started At", field: "started_at", sorter: "date", formatter: "datetime", formatterParams: {
                        inputFormat: 'iso',
                        outputFormat: "yyyy-MM-dd HH:mm:ss",
                        invalidPlaceholder: "-"
                    }
                },
                {title: "Ended At", field: "ended_at", sorter: "date", formatter: "datetime", formatterParams: {
                        inputFormat: 'iso',
                        outputFormat: "yyyy-MM-dd HH:mm:ss",
                        invalidPlaceholder: "-"
                    }
                },
                {title: "Status", field: "status", sorter: "string", formatter: function (cell) {
                        const status = cell.getValue();
                        if (status === "RUNNING") {
                            return "<span class='badge bg-primary'>" + status + "</span>";
                        } else if (status === "SUCCESS") {
                            return "<span class='badge bg-success'>" + status + "</span>";
                        } else if (status === "FAILED") {
                            return "<span class='badge bg-danger'>" + status + "</span>";
                        } else if (status === "REVOKED") {
                            return "<span class='badge bg-secondary'>" + status + "</span>";
                        }
                        return status;
                    }
                },
                {title: "Message", field: "message", sorter: "string", headerFilter:"input"},
                {title: "Actions", field: "actions", headerSort: false, formatter: function (cell) {
                    const data = cell.getRow().getData();
                    if(data.status === "RUNNING" && data.task_id) {
                        return "<button class='btn btn-sm btn-danger stop-task-btn' data-task-id='" + data.task_id + "'>Stop</button>";
                    } else if (data.status === "SUCCESS" && data.task_id) {
                        const view_report_url = "{{ url_for('reports.view_report', report_id=0) }}".replace('0', data.id);
                        return "<a href='" + view_report_url + "' class='btn btn-sm btn-primary'>View</a>";
                    }
                    return "";
                }, width: 100}
            ]
        });

        setInterval(function(){
            table.setData();
        }, 10000);

        const createReportBtn = document.getElementById('create-report-btn');
        if (createReportBtn) {
            createReportBtn.addEventListener('click', (e) => {
                const reportTypeFilter = document.getElementById('report-type-filter');
                if (reportTypeFilter) {
                    const selectedOption = reportTypeFilter.options[reportTypeFilter.selectedIndex];
                    if (!selectedOption) {
                        alert("Please select a report type.");
                        return;
                    }

                    let date_filter_type = '';
                    let date_filter_value = '';
                    let start_date_filter = '';
                    let end_date_filter = '';
                    const date_filter = document.querySelector('input[name="date_filter"]:checked');
                    if (date_filter) {
                        date_filter_type = date_filter.value;

                        if (date_filter_type === 'date-range') {
                            date_filter_type = 'range';
                            start_date_filter = document.getElementById('start-date-filter').value;
                            end_date_filter = document.getElementById('end-date-filter').value;
                        } else if (date_filter_type === 'month') {
                            date_filter_value = document.getElementById('month-filter').value;
                        } else if (date_filter_type === 'quarter') {
                            date_filter_value = document.getElementById('quarter-filter').value;
                        } else if (date_filter_type === 'year') {
                            date_filter_value = document.getElementById('year-filter').value;
                        }
                    }

                    const subfilters = {};
                    const selectedSubfilters = selectedOption.getAttribute('data-subfilters');
                    if (selectedSubfilters && selectedSubfilters.length > 0) {
                        selectedSubfilters.split(',').forEach(subfilter => {
                            const filter = subfilter.trim();
                            const filterElement = document.getElementById(filter);
                            if (filterElement) {
                                subfilters[filter] = filterElement.value;
                            }
                        });
                    }

                    fetch("{{ url_for('reports.create_report') }}", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({report_type: selectedOption.value, date_filter_type: date_filter_type, date_filter_value: date_filter_value, start_date_filter: start_date_filter, end_date_filter: end_date_filter, subfilters: subfilters})
                    })
                    .then(response => response.json())
                    .then(data => {
                        const error = data.hasOwnProperty("error");
                        if (error) {
                            alert("Error creating report: " + data.error);
                            return;
                        }
                        const taskId = (data.hasOwnProperty("task_id") ? data.task_id : null);
                        alert("Report creation started. Task ID: " + taskId);
                        table.setData();
                    })
                    .catch(error => {
                        console.error("Error creating report:", error);
                    });
                }
            });
        }

        const endGenerateReportBtn = document.querySelectorAll('.stop-task-btn');
        if (endGenerateReportBtn) {
            endGenerateReportBtn.forEach(btn => {
                btn.addEventListener("click", function(e) {
                    if(e.target && e.target.matches("button.stop-task-btn")) {
                        const taskId = e.target.getAttribute("data-task-id");
                        fetch("{{ url_for('admin.revoke_task') }}", {
                            method:"POST",
                            headers: {"Content-Type": "application/json"},
                            body: JSON.stringify({task_id: taskId})
                        })
                        .then(response => response.json())
                        .then(data => {
                            alert("Task " + taskId + " revoked.");
                            table.setData();
                        })
                        .catch(error => {
                            console.error("Error revoking task:", error);
                        });
                    }
                });
            });
        }

        const reportTypeFilter = document.getElementById('report-type-filter');
        if (reportTypeFilter) {
            reportTypeFilter.addEventListener('change', (e) => {
                Array.from(e.target.options).forEach(option => {
                    const subfilters = option.getAttribute('data-subfilters');
                    if (subfilters) {
                        subfilters.split(',').forEach(subfilter => {
                            const filter = subfilter.trim();
                            const filterElement = document.getElementById(filter);
                            if (filterElement) {
                                filterElement.parentElement.parentElement.classList.add('d-none');
                            }
                        });
                    }
                });

                const selectedOption = e.target.options[e.target.selectedIndex];
                const selectedSubfilters = selectedOption.getAttribute('data-subfilters');
                if (selectedSubfilters && selectedSubfilters.length > 0) {
                    let date_filter_type = '';
                    let date_filter_value = '';
                    let start_date_filter = '';
                    let end_date_filter = '';
                    const date_filter = document.querySelector('input[name="date_filter"]:checked');
                    if (date_filter) {
                        date_filter_type = date_filter.value;
                        if (date_filter_type === 'date-range') {
                            date_filter_type = 'range';
                            start_date_filter = document.getElementById('start-date-filter').value;
                            end_date_filter = document.getElementById('end-date-filter').value;
                        } else if (date_filter_type === 'month') {
                            date_filter_value = document.getElementById('month-filter').value;
                        } else if (date_filter_type === 'quarter') {
                            date_filter_value = document.getElementById('quarter-filter').value;
                        } else if (date_filter_type === 'year') {
                            date_filter_value = document.getElementById('year-filter').value;
                        }
                    }

                    selectedSubfilters.split(',').forEach(subfilter => {
                        const filter = subfilter.trim();
                        const filterElement = document.getElementById(filter);
                        if (filterElement) {
                            fetch("{{ url_for('reports.get_subfilter_options') }}", {
                                method: "POST",
                                headers: {"Content-Type": "application/json"},
                                body: JSON.stringify({report_type: selectedOption.value, date_filter_type: date_filter_type, date_filter_value: date_filter_value, start_date_filter: start_date_filter, end_date_filter: end_date_filter, subfilter: filter})
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (!data.hasOwnProperty('elements')) {
                                    return;
                                }
                                filterElement.innerHTML = '';
                                data.elements.forEach(option => {
                                    filterElement.innerHTML += `<option value="${option.key}">${option.value}</option>`;
                                });
                            })
                            .catch(error => {
                                console.error(`Error loading filter "${filter}":`, error);
                            });

                            filterElement.parentElement.parentElement.classList.remove('d-none');
                        }
                    });
                }
            });
        }
    });
</script>
{% elif page == 'profile' %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const editProfileBtn = document.getElementById('edit-profile-btn');
        const editProfileContainer = document.getElementById('edit-profile-container');
        const viewProfileContainer = document.getElementById('view-profile-container');
        if (editProfileBtn && editProfileContainer && viewProfileContainer) {
            {% if error %}
            editProfileContainer.classList.toggle('d-none');
            viewProfileContainer.classList.toggle('d-none');
            {% endif %}
            editProfileBtn.addEventListener('click', (e) => {
                e.preventDefault();
                e.stopPropagation();
                editProfileContainer.classList.toggle('d-none');
                viewProfileContainer.classList.toggle('d-none');
            });
        }
    });
</script>
{% endif %}
</body>
</html>