<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if page == "etl_control" %}
    <link href="{{ url_for('static', filename='assets/tabulator/css/tabulator_bootstrap5.min.css') }}" rel="stylesheet">
    {% elif page == "users" %}
    <link href="{{ url_for('static', filename='assets/tabulator/css/tabulator_bootstrap5.min.css') }}" rel="stylesheet">
    {% elif page == "reports" %}
    <link href="{{ url_for('static', filename='assets/tabulator/css/tabulator_bootstrap5.min.css') }}" rel="stylesheet">
    {% elif page == "view_report" %}
    <link href="{{ url_for('static', filename='assets/tabulator/css/tabulator_bootstrap5.min.css') }}" rel="stylesheet">
    {% endif %}
    <title>{{ title or 'DMA' }}</title>
    {% if page == 'dashboard' %}
    <style>
    #carts-count, #orders-count, #total-revenue, #conversion-rate {
        font-size: 2rem;
    }
    .card-numeric-subtitle {
        font-size: 1.3rem;
        color: #6c757d;
    }
    </style>
    {% endif %}
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="btn btn-primary me-2 d-lg-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <i class="bi bi-list"></i>
                </button>
                <a class="navbar-brand" href="{{ url_for('dashboard.dashboard_index') }}">DMA</a>
                <div class="collapse navbar-collapse d-none d-lg-block">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard.dashboard_index') }}">Informačný panel</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('reports.reports_index') }}">Správy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.auth_profile') }}">Profil</a>
                        </li>
                        {% if current_user.is_admin() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.etl_control') }}">Migrácia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.users') }}">Používatelia</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.auth_logout') }}">Odhlásiť sa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>