<aside class="col-lg-2 d-lg-block my-4">
    <div class="offcanvas-lg offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSidebarLabel">MENU</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group list-group-flush w-100">
                <a href="{{ url_for('dashboard.dashboard_index') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-speedometer2 me-2"></i> Informačný panel
                </a>
                <a href="{{ url_for('reports.reports_index') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-file-earmark-bar-graph me-2"></i> Reporty
                </a>
                <a href="{{ url_for('auth.auth_profile') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-person me-2"></i> Profil
                </a>
                {% if current_user.is_admin %}
                <a href="{{ url_for('admin.etl_control') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-sliders me-2"></i> Prenos dát
                </a>
                <a href="{{ url_for('admin.users') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-people me-2"></i> Používatelia
                </a>
                {% endif %}
                <a href="{{ url_for('auth.auth_logout') }}" class="list-group-item list-group-item-action">
                    <i class="bi bi-box-arrow-right me-2"></i> Odhlásiť sa
                </a>
            </div>
        </div>
    </div>
</aside>